{
  "extends": "airbnb-base",
  "rules": {
    //"no-underscore-dangle": ["off",{"allow":["id"]}],
    "no-underscore-dangle": ["error",{"allow":["_id"]}],
    "linebreak-style": ["error", "windows"]
 }
}
